Repository h-wb/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/docs, area/github, area/kubernetes, area/taskfile, cluster/main, cluster/dev

feat: add hetzner to service
  README.md
Labels: area/docs

tmp: remove volume
  kubernetes/main/apps/downloads/qbittorrent-vpn/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

Revert "feat(container)!: Update ghcr.io/onedr0p/qbittorrent ( 4.6.7 → 5.0.0 )"
  kubernetes/main/apps/downloads/qbittorrent-vpn/app/helmrelease.yaml
  kubernetes/main/apps/downloads/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

test: env flaresolverr
  kubernetes/main/apps/downloads/flaresolverr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

test: env flaresolverr
  kubernetes/main/apps/downloads/flaresolverr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

feat: add prometheus
  kubernetes/main/apps/observability/kube-prometheus-stack/app/externalsecret.yaml
  kubernetes/main/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/main/apps/observability/kube-prometheus-stack/app/kustomization.yaml
  kubernetes/main/apps/observability/kube-prometheus-stack/app/prometheusrule.yaml
  kubernetes/main/apps/observability/kube-prometheus-stack/app/scrapeconfig.yaml
  kubernetes/main/apps/observability/kube-prometheus-stack/ks.yaml
  kubernetes/main/apps/observability/kustomization.yaml
Labels: area/kubernetes, cluster/main

feat: add grafana
  kubernetes/main/apps/observability/grafana/app/externalsecret.yaml
  kubernetes/main/apps/observability/grafana/app/helmrelease.yaml
  kubernetes/main/apps/observability/grafana/app/kustomization.yaml
  kubernetes/main/apps/observability/grafana/ks.yaml
  kubernetes/main/apps/observability/kustomization.yaml
Labels: area/kubernetes, cluster/main

fix: reduce replicas
  kubernetes/main/apps/observability/grafana/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

test: secret
  kubernetes/main/apps/observability/grafana/app/externalsecret.yaml
Labels: area/kubernetes, cluster/main

fix: remove syncthing widget
  kubernetes/main/apps/default/syncthing/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix(qbvpn): vuetorrent url
  kubernetes/main/apps/downloads/qbittorrent-vpn/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

feat: add crunchy
  kubernetes/main/apps/database/crunchy-postgres/app/helmrelease.yaml
  kubernetes/main/apps/database/crunchy-postgres/app/kustomization.yaml
  kubernetes/main/apps/database/crunchy-postgres/cluster/cluster.yaml
  kubernetes/main/apps/database/crunchy-postgres/cluster/externalsecret.yaml
  kubernetes/main/apps/database/crunchy-postgres/cluster/gatus.yaml
  kubernetes/main/apps/database/crunchy-postgres/cluster/kustomization.yaml
  kubernetes/main/apps/database/crunchy-postgres/cluster/nfs-pvc.yaml
  kubernetes/main/apps/database/crunchy-postgres/cluster/podmonitor.yaml
  kubernetes/main/apps/database/crunchy-postgres/clustersecretstore/kustomization.yaml
  kubernetes/main/apps/database/crunchy-postgres/clustersecretstore/rbac.yaml
  kubernetes/main/apps/database/crunchy-postgres/clustersecretstore/secretstore.yaml
  kubernetes/main/apps/database/crunchy-postgres/ks.yaml
  kubernetes/main/apps/database/crunchy-postgres/userinit-controller/helmrelease.yaml
  kubernetes/main/apps/database/crunchy-postgres/userinit-controller/kustomization.yaml
Labels: area/kubernetes, cluster/main

fix: add crunchydata
  kubernetes/main/flux/repositories/helm/crunchydata.yaml
  kubernetes/main/flux/repositories/helm/kustomization.yaml
Labels: area/kubernetes, cluster/main

fix: add chart
  kubernetes/main/flux/repositories/helm/kustomization.yaml
  kubernetes/main/flux/repositories/helm/userinit-controller.yaml
Labels: area/kubernetes, cluster/main

feat: add openebs
  kubernetes/main/apps/storage/kustomization.yaml
  kubernetes/main/apps/storage/openebs/app/helmrelease.yaml
  kubernetes/main/apps/storage/openebs/app/kustomization.yaml
  kubernetes/main/apps/storage/openebs/ks.yaml
Labels: area/kubernetes, cluster/main

test(pgo): backup
  kubernetes/main/apps/database/crunchy-postgres/cluster/cluster.yaml
Labels: area/kubernetes, cluster/main

temp: add monica
  kubernetes/main/apps/default/kustomization.yaml
  kubernetes/main/apps/default/monica/app/externalsecret.yaml
  kubernetes/main/apps/default/monica/app/helmrelease.yaml
  kubernetes/main/apps/default/monica/app/kustomization.yaml
  kubernetes/main/apps/default/monica/ks.yaml
Labels: area/kubernetes, cluster/main

feat: add R2 db backup
  kubernetes/main/apps/database/crunchy-postgres/cluster/cluster.yaml
  kubernetes/main/apps/database/crunchy-postgres/cluster/externalsecret.yaml
  kubernetes/main/apps/database/crunchy-postgres/cluster/kustomization.yaml
  kubernetes/main/apps/default/monica/app/externalsecret.yaml
  kubernetes/main/flux/vars/cluster-secrets.sops.yaml
Labels: area/kubernetes, cluster/main

fix(crunchy-pgo): secret store ref typo
  kubernetes/main/apps/database/crunchy-postgres/cluster/externalsecret.yaml
Labels: area/kubernetes, cluster/main

fix(crunchy-pgo): add svc address
  kubernetes/main/flux/vars/cluster-secrets.sops.yaml
Labels: area/kubernetes, cluster/main

chore: update vscode settingds
  .vscode/settings.json
Labels: none

feat: activate monica
  kubernetes/main/apps/database/crunchy-postgres/cluster/cluster.yaml
  kubernetes/main/apps/default/kustomization.yaml
  kubernetes/main/apps/default/monica/app/externalsecret.yaml
  kubernetes/main/apps/default/monica/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

tmp: disable pg restore
  kubernetes/main/apps/database/crunchy-postgres/cluster/cluster.yaml
Labels: area/kubernetes, cluster/main

fix: nfs pv address
  kubernetes/main/apps/database/crunchy-postgres/cluster/nfs-pvc.yaml
Labels: area/kubernetes, cluster/main

tmp: remove nfs
  kubernetes/main/apps/database/crunchy-postgres/cluster/cluster.yaml
Labels: area/kubernetes, cluster/main

fix(monica): add port
  kubernetes/main/apps/default/monica/app/externalsecret.yaml
Labels: area/kubernetes, cluster/main

fix(monica): db secret name
  kubernetes/main/apps/default/monica/app/externalsecret.yaml
Labels: area/kubernetes, cluster/main

fix(monica): db secret name
  kubernetes/main/apps/default/monica/app/externalsecret.yaml
Labels: area/kubernetes, cluster/main

fix(monica): db port
  kubernetes/main/apps/default/monica/app/externalsecret.yaml
Labels: area/kubernetes, cluster/main

test(monica): db port
  kubernetes/main/apps/default/monica/app/externalsecret.yaml
Labels: area/kubernetes, cluster/main

test(monica): db port
  kubernetes/main/apps/default/monica/app/externalsecret.yaml
Labels: area/kubernetes, cluster/main

test(monica): image
  kubernetes/main/apps/default/monica/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix(pgsql): add user init control labels
  kubernetes/main/apps/database/crunchy-postgres/cluster/cluster.yaml
  kubernetes/main/apps/default/monica/app/externalsecret.yaml
  kubernetes/main/apps/default/monica/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

test(monica): app trusted proxies
  kubernetes/main/apps/default/monica/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

feat: add gatus
  kubernetes/main/apps/observability/gatus/app/config/config.yaml
  kubernetes/main/apps/observability/gatus/app/externalsecret.yaml
  kubernetes/main/apps/observability/gatus/app/grafana-dashboard.yaml
  kubernetes/main/apps/observability/gatus/app/helmrelease.yaml
  kubernetes/main/apps/observability/gatus/app/kustomization.yaml
  kubernetes/main/apps/observability/gatus/app/rbac.yaml
  kubernetes/main/apps/observability/gatus/ks.yaml
  kubernetes/main/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/main/apps/observability/kustomization.yaml
  kubernetes/main/flux/vars/cluster-settings.yaml
  kubernetes/shared/templates/gatus/external/configmap.yaml
  kubernetes/shared/templates/gatus/external/kustomization.yaml
  kubernetes/shared/templates/gatus/guarded/configmap.yaml
  kubernetes/shared/templates/gatus/guarded/kustomization.yaml
Labels: area/kubernetes, cluster/main

feat: add flux webhook token
  kubernetes/main/apps/flux-system/addons/ks.yaml
  kubernetes/main/apps/flux-system/addons/webhooks/github/externalsecret.yaml
  kubernetes/main/apps/flux-system/addons/webhooks/github/ingress.yaml
  kubernetes/main/apps/flux-system/addons/webhooks/github/kustomization.yaml
  kubernetes/main/apps/flux-system/addons/webhooks/github/receiver.yaml
  kubernetes/main/apps/flux-system/addons/webhooks/kustomization.yaml
Labels: area/kubernetes, cluster/main

fix: miss kustomization
  kubernetes/shared/templates/kustomization.yaml
Labels: area/kubernetes

fix: cluster
  kubernetes/main/flux/config/cluster.yaml
Labels: area/kubernetes, cluster/main

fix(cert-manager): secret name
  kubernetes/main/apps/cert-manager/cert-manager/issuers/secret.sops.yaml
Labels: area/kubernetes, cluster/main

feat(cpgo): add gatus db
  kubernetes/main/apps/database/crunchy-postgres/cluster/cluster.yaml
Labels: area/kubernetes, cluster/main

.github/labeler.yaml:

---
# Area
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"
# Cluster
cluster/main:
  - changed-files:
      - any-glob-to-any-file: kubernetes/main/**/*
cluster/dev:
  - changed-files:
      - any-glob-to-any-file: kubernetes/dev/**/*
