Repository h-wb/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/docs, area/github, area/kubernetes, area/taskfile, cluster/main, cluster/dev

fix(bazarr): secret
  kubernetes/main/apps/downloads/bazarr/app/externalsecret.yaml
Labels: area/kubernetes, cluster/main

test: bitwarden-secrets-manager
  kubernetes/main/apps/external-secrets/external-secrets/app/helmrelease.yaml
  kubernetes/main/apps/external-secrets/external-secrets/certificates/bitwarden.yaml
  kubernetes/main/apps/external-secrets/external-secrets/certificates/kustomization.yaml
  kubernetes/main/apps/external-secrets/external-secrets/ks.yaml
  kubernetes/main/apps/external-secrets/external-secrets/stores/clusterstore.yaml
  kubernetes/main/apps/external-secrets/external-secrets/stores/secret.sops.yaml
  kubernetes/main/flux/vars/cluster-secrets.sops.yaml
Labels: area/kubernetes, cluster/main

fix: kusto
  kubernetes/main/apps/external-secrets/external-secrets/stores/kustomization.yaml
Labels: area/kubernetes, cluster/main

test: bwsm
  kubernetes/main/apps/downloads/bazarr/app/externalsecret.yaml
Labels: area/kubernetes, cluster/main

test: bwsm
  kubernetes/main/apps/downloads/bazarr/app/externalsecret.yaml
Labels: area/kubernetes, cluster/main

chore: clean unused external-secret folder
  kubernetes/dev/apps/external-secrets/external-secrets-sdk/app/bitwarden.secret.sops.yaml
  kubernetes/dev/apps/external-secrets/external-secrets-sdk/app/helmrelease.yaml
  kubernetes/dev/apps/external-secrets/external-secrets-sdk/app/kustomization.yaml
  kubernetes/dev/apps/external-secrets/external-secrets-sdk/certs/bitwarden-certs.yaml
  kubernetes/dev/apps/external-secrets/external-secrets-sdk/ks.yaml
  kubernetes/dev/apps/external-secrets/external-secrets-sdk/stores/clustersecretstore.yaml
  kubernetes/dev/apps/external-secrets/external-secrets-sdk/stores/kustomization.yaml
  kubernetes/main/apps/external-secrets/external-secrets-sdk/app/bitwarden.secret.sops.yaml
  kubernetes/main/apps/external-secrets/external-secrets-sdk/app/helmrelease.yaml
  kubernetes/main/apps/external-secrets/external-secrets-sdk/app/kustomization.yaml
  kubernetes/main/apps/external-secrets/external-secrets-sdk/certs/bitwarden-certs.yaml
  kubernetes/main/apps/external-secrets/external-secrets-sdk/ks.yaml
  kubernetes/main/apps/external-secrets/external-secrets-sdk/stores/clustersecretstore.yaml
  kubernetes/main/apps/external-secrets/external-secrets-sdk/stores/kustomization.yaml
Labels: area/kubernetes, cluster/main, cluster/dev

fix(cert-manager): move secret to sops
  kubernetes/main/apps/cert-manager/cert-manager/issuers/externalsecret.yaml
  kubernetes/main/apps/cert-manager/cert-manager/issuers/kustomization.yaml
  kubernetes/main/apps/cert-manager/cert-manager/issuers/secret.sops.yaml
Labels: area/kubernetes, cluster/main

chore(weave-gitops): update secret
  kubernetes/main/apps/flux-system/weave-gitops/app/externalsecret.yaml
Labels: area/kubernetes, cluster/main

chore(plex): update to bwsm
  kubernetes/main/apps/media/plex/app/externalsecret.yaml
Labels: area/kubernetes, cluster/main

chore(cloudflare): update secret to bwsm
  kubernetes/main/apps/network/cloudflared/app/externalsecret.yaml
Labels: area/kubernetes, cluster/main

fix: name var
  kubernetes/main/apps/network/cloudflared/app/externalsecret.yaml
Labels: area/kubernetes, cluster/main

chore(exterlan-dns): update to bwsm
  kubernetes/main/apps/network/external-dns/cloudflare/externalsecret.yaml
Labels: area/kubernetes, cluster/main

chore(minio): update to bwsm
  kubernetes/main/apps/storage/minio/app/externalsecret.yaml
Labels: area/kubernetes, cluster/main

chore(minio): update to bwsm
  kubernetes/main/apps/network/cloudflared/app/externalsecret.yaml
  kubernetes/main/templates/volsync/minio.yaml
Labels: area/kubernetes, cluster/main

chore: archive bitwarden cli
  .archive/kubernetes/apps/bitwarden/helmrelease.yaml
  .archive/kubernetes/apps/bitwarden/kustomization.yaml
  .archive/kubernetes/apps/bitwarden/network-policy.yaml
  kubernetes/main/apps/external-secrets/external-secrets/bitwarden/bitwarden.secret.sops.yaml
  kubernetes/main/apps/external-secrets/external-secrets/ks.yaml
  kubernetes/main/apps/external-secrets/external-secrets/stores/clusterstore.yaml
Labels: area/kubernetes, cluster/main

feat: add homepage (jorys config tmp)
  kubernetes/main/apps/default/homepage/app/configmap.yaml
  kubernetes/main/apps/default/homepage/app/externalsecret.yaml
  kubernetes/main/apps/default/homepage/app/helmrelease.yaml
  kubernetes/main/apps/default/homepage/app/kustomization.yaml
  kubernetes/main/apps/default/homepage/app/rbac.yaml
  kubernetes/main/apps/default/homepage/ks.yaml
  kubernetes/main/apps/default/kustomization.yaml
  kubernetes/main/apps/default/namespace.yaml
Labels: area/kubernetes, cluster/main

docs: mention bw secets manager
  README.md
Labels: area/docs

feat: add prowlarr
  kubernetes/main/apps/default/homepage/app/externalsecret.yaml
  kubernetes/main/apps/downloads/kustomization.yaml
  kubernetes/main/apps/downloads/prowlarr/app/externalsecret.yaml
  kubernetes/main/apps/downloads/prowlarr/app/helmrelease.yaml
  kubernetes/main/apps/downloads/prowlarr/app/kustomization.yaml
  kubernetes/main/apps/downloads/prowlarr/ks.yaml
Labels: area/kubernetes, cluster/main

typo: volsync
  kubernetes/main/apps/downloads/prowlarr/ks.yaml
Labels: area/kubernetes, cluster/main

feat(prowlarr): persistence
  kubernetes/main/apps/downloads/prowlarr/app/helmrelease.yaml
  kubernetes/main/apps/downloads/prowlarr/ks.yaml
Labels: area/kubernetes, cluster/main

fix: kusto
  kubernetes/main/apps/downloads/prowlarr/app/kustomization.yaml
Labels: area/kubernetes, cluster/main

test: old pvc
  kubernetes/main/apps/downloads/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

test: cache capacity
  kubernetes/main/templates/volsync/minio.yaml
Labels: area/kubernetes, cluster/main

fix: namespace
  kubernetes/main/apps/observability/namespace.yaml
  kubernetes/main/apps/storage/namespace.yaml
Labels: area/kubernetes, cluster/main

fix: secret
  kubernetes/main/apps/storage/minio/app/externalsecret.yaml
  kubernetes/main/apps/storage/minio/app/helmrelease.yaml
  test.sh
Labels: area/kubernetes, cluster/main

fix(namespace): annotation instead of label
  .taskfiles/VolSync/scripts/controller.sh
  .taskfiles/VolSync/scripts/wait.sh
  kubernetes/main/apps/cert-manager/namespace.yaml
  kubernetes/main/apps/default/namespace.yaml
  kubernetes/main/apps/downloads/namespace.yaml
  kubernetes/main/apps/external-secrets/namespace.yaml
  kubernetes/main/apps/flux-system/namespace.yaml
  kubernetes/main/apps/kube-system/namespace.yaml
  kubernetes/main/apps/kube-tools/namespace.yaml
  kubernetes/main/apps/media/namespace.yaml
  kubernetes/main/apps/network/namespace.yaml
  kubernetes/main/apps/observability/namespace.yaml
  kubernetes/main/apps/storage/namespace.yaml
Labels: area/kubernetes, area/taskfile, cluster/main

fix(plex): internal dns
  kubernetes/main/apps/media/plex/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

feat: change minio path
  kubernetes/main/apps/storage/minio/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

feat: add radarr
  kubernetes/main/apps/default/homepage/app/externalsecret.yaml
  kubernetes/main/apps/downloads/kustomization.yaml
  kubernetes/main/apps/downloads/radarr/app/externalsecret.yaml
  kubernetes/main/apps/downloads/radarr/app/helmrelease.yaml
  kubernetes/main/apps/downloads/radarr/app/kustomization.yaml
  kubernetes/main/apps/downloads/radarr/ks.yaml
Labels: area/kubernetes, cluster/main

chore: remove tmp volume
  kubernetes/main/apps/downloads/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

feat: add radarr-uhd
  kubernetes/main/apps/default/homepage/app/externalsecret.yaml
  kubernetes/main/apps/downloads/kustomization.yaml
  kubernetes/main/apps/downloads/radarr-uhd/app/externalsecret.yaml
  kubernetes/main/apps/downloads/radarr-uhd/app/helmrelease.yaml
  kubernetes/main/apps/downloads/radarr-uhd/app/kustomization.yaml
  kubernetes/main/apps/downloads/radarr-uhd/ks.yaml
Labels: area/kubernetes, cluster/main

fix(radarr-uhd): controller name
  kubernetes/main/apps/downloads/radarr-uhd/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

tmp: volumes
  kubernetes/main/apps/downloads/radarr-uhd/app/helmrelease.yaml
  kubernetes/main/apps/downloads/radarr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

tmp: volumes
  kubernetes/main/apps/downloads/radarr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

tmp: remove volumes
  kubernetes/main/apps/downloads/radarr-uhd/app/helmrelease.yaml
  kubernetes/main/apps/downloads/radarr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

feat: cloudflare widget
  kubernetes/main/apps/default/homepage/app/externalsecret.yaml
Labels: area/kubernetes, cluster/main

fix: replication destination storage class
  .taskfiles/VolSync/Taskfile.yaml
  .taskfiles/VolSync/templates/replicationdestination.tmpl.yaml
Labels: area/taskfile

feat: add sonarr
  kubernetes/main/apps/default/homepage/app/externalsecret.yaml
  kubernetes/main/apps/downloads/kustomization.yaml
  kubernetes/main/apps/downloads/radarr-uhd/app/helmrelease.yaml
  kubernetes/main/apps/downloads/sonarr-anm/app/externalsecret.yaml
  kubernetes/main/apps/downloads/sonarr-anm/app/helmrelease.yaml
  kubernetes/main/apps/downloads/sonarr-anm/app/kustomization.yaml
  kubernetes/main/apps/downloads/sonarr-anm/ks.yaml
  kubernetes/main/apps/downloads/sonarr-tv/app/externalsecret.yaml
  kubernetes/main/apps/downloads/sonarr-tv/app/helmrelease.yaml
  kubernetes/main/apps/downloads/sonarr-tv/app/kustomization.yaml
  kubernetes/main/apps/downloads/sonarr-tv/ks.yaml
Labels: area/kubernetes, cluster/main

tmp: volumes
  kubernetes/main/apps/downloads/sonarr-anm/app/helmrelease.yaml
  kubernetes/main/apps/downloads/sonarr-tv/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

tmp: volumes
  kubernetes/main/apps/downloads/sonarr-anm/app/helmrelease.yaml
  kubernetes/main/apps/downloads/sonarr-tv/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

.github/labeler.yaml:

---
# Area
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"
# Cluster
cluster/main:
  - changed-files:
      - any-glob-to-any-file: kubernetes/main/**/*
cluster/dev:
  - changed-files:
      - any-glob-to-any-file: kubernetes/dev/**/*
