Repository h-wb/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/docs, area/github, area/kubernetes, area/taskfile, cluster/main, cluster/dev

.github/labeler.yaml:

---
# Area
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"
# Cluster
cluster/main:
  - changed-files:
      - any-glob-to-any-file: kubernetes/main/**/*
cluster/dev:
  - changed-files:
      - any-glob-to-any-file: kubernetes/dev/**/*

feat: add longhorn/volsync
  kubernetes/dev/apps/storage/kustomization.yaml
  kubernetes/dev/apps/storage/longhorn/app/helmrelease.yaml
  kubernetes/dev/apps/storage/longhorn/app/kustomization.yaml
  kubernetes/dev/apps/storage/longhorn/ks.yaml
  kubernetes/dev/apps/storage/longhorn/storageclass/snapshot.yaml
  kubernetes/dev/apps/storage/namespace.yaml
  kubernetes/dev/apps/storage/snapshot-controller/app/helmrelease.yaml
  kubernetes/dev/apps/storage/snapshot-controller/app/kustomization.yaml
  kubernetes/dev/apps/storage/snapshot-controller/ks.yaml
  kubernetes/dev/apps/storage/volsync/app/helmrelease.yaml
  kubernetes/dev/apps/storage/volsync/app/kustomization.yaml
  kubernetes/dev/apps/storage/volsync/app/prometheusrule.yaml
  kubernetes/dev/apps/storage/volsync/ks.yaml
Labels: area/kubernetes, cluster/dev

feat: update talos
  kubernetes/dev/apps/kube-tools/system-upgrade-controller/ks.yaml
  kubernetes/dev/bootstrap/readme.md
  kubernetes/dev/bootstrap/talos/talconfig.yaml
Labels: area/kubernetes, cluster/dev

fix: longhorn url
  kubernetes/dev/apps/storage/longhorn/app/helmrelease.yaml
  kubernetes/dev/bootstrap/talos/talconfig.yaml
Labels: area/kubernetes, cluster/dev

feat: add minio
  kubernetes/dev/apps/storage/minio/app/externalsecret.yaml
  kubernetes/dev/apps/storage/minio/app/helmrelease.yaml
  kubernetes/dev/apps/storage/minio/app/kustomization.yaml
  kubernetes/dev/apps/storage/minio/ks.yaml
Labels: area/kubernetes, cluster/dev

fix: kusto
  kubernetes/dev/apps/storage/kustomization.yaml
Labels: area/kubernetes, cluster/dev

fix: nfs share
  kubernetes/dev/apps/storage/minio/app/helmrelease.yaml
  kubernetes/dev/template/README.md
Labels: area/kubernetes, cluster/dev

feat: add minio volsync template
  kubernetes/dev/templates/volsync/README.md
  kubernetes/dev/templates/volsync/claim.yaml
  kubernetes/dev/templates/volsync/kustomization.yaml
  kubernetes/dev/templates/volsync/minio.yaml
Labels: area/kubernetes, cluster/dev

feat: add komga, test volsync
  kubernetes/dev/apps/media/komga/app/helmrelease.yaml
  kubernetes/dev/apps/media/komga/app/kustomization.yaml
  kubernetes/dev/apps/media/komga/ks.yaml
  kubernetes/dev/apps/media/kustomization.yaml
  kubernetes/dev/apps/media/namespace.yaml
Labels: area/kubernetes, cluster/dev

fix: remove r2 from kusto
  kubernetes/dev/templates/volsync/kustomization.yaml
Labels: area/kubernetes, cluster/dev

fix: change volumeBindingMode to immediate
  kubernetes/dev/apps/storage/longhorn/storageclass/snapshot.yaml
Labels: area/kubernetes, cluster/dev

docs: add README
  README.md
  docs/src/assets/icons/logo.png
Labels: area/docs

feat: add jory and onedr0p repo references
  README.md
Labels: area/docs

chore: archive ansible
  .archive/ansible/inventory/group_vars/kubernetes/main.yaml
  .archive/ansible/inventory/group_vars/kubernetes/supplemental.yaml
  .archive/ansible/inventory/group_vars/master/main.yaml
  .archive/ansible/inventory/group_vars/worker/main.yaml
  .archive/ansible/inventory/host_vars/.gitkeep
  .archive/ansible/inventory/host_vars/k3s-0.sops.yaml
  .archive/ansible/inventory/host_vars/k3s-1.sops.yaml
  .archive/ansible/inventory/host_vars/k3s-2.sops.yaml
  .archive/ansible/inventory/hosts.yaml
  .archive/ansible/playbooks/cluster-installation.yaml
  .archive/ansible/playbooks/cluster-kube-vip.yaml
  .archive/ansible/playbooks/cluster-nuke.yaml
  .archive/ansible/playbooks/cluster-prepare.yaml
  .archive/ansible/playbooks/cluster-reboot.yaml
  .archive/ansible/playbooks/cluster-rollout-update.yaml
  .archive/ansible/playbooks/files/stale-containers.service
  .archive/ansible/playbooks/files/stale-containers.timer
  .archive/ansible/playbooks/tasks/cilium.yaml
  .archive/ansible/playbooks/tasks/coredns.yaml
  .archive/ansible/playbooks/tasks/cruft.yaml
  .archive/ansible/playbooks/tasks/kubeconfig.yaml
  .archive/ansible/playbooks/tasks/stale_containers.yaml
  .archive/ansible/playbooks/templates/custom-cilium-helmchart.yaml.j2
  .archive/ansible/playbooks/templates/custom-cilium-l2.yaml.j2
  .archive/ansible/playbooks/templates/custom-coredns-helmchart.yaml.j2
  .archive/ansible/playbooks/templates/kube-vip-static-pod.yaml.j2
  .archive/ansible/requirements.txt
  .archive/ansible/requirements.yaml
Labels: none

fix(weave): replace external secert
  kubernetes/dev/apps/flux-system/weave-gitops/app/externalsecret.yaml
  kubernetes/dev/apps/flux-system/weave-gitops/app/kustomization.yaml
  kubernetes/dev/apps/flux-system/weave-gitops/app/secret.sops.yaml
Labels: area/kubernetes, cluster/dev

chore: update main cluster
  Taskfile.yml
  kubernetes/main/apps/flux-system/weave-gitops/app/helmrelease.yaml
  kubernetes/main/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/main/apps/kube-system/kubelet-csr-approver/app/helm-values.yaml
  kubernetes/main/apps/kube-tools/system-upgrade-controller/ks.yaml
  kubernetes/main/apps/media/komga/app/helmrelease.yaml
  kubernetes/main/apps/network/cloudflared/app/configs/config.yaml
  kubernetes/main/apps/network/cloudflared/app/dnsendpoint.yaml
  kubernetes/main/apps/network/echo-server/app/helmrelease.yaml
  kubernetes/main/apps/network/nginx/external/helmrelease.yaml
  kubernetes/main/apps/network/nginx/internal/helmrelease.yaml
  kubernetes/main/apps/storage/longhorn/app/helmrelease.yaml
  kubernetes/main/apps/storage/minio/app/helmrelease.yaml
  kubernetes/main/bootstrap/talos/clusterconfig/.gitignore
  kubernetes/main/bootstrap/talos/talconfig.yaml
  kubernetes/main/bootstrap/talos/talsecret.sops.yaml
Labels: area/kubernetes, cluster/main

update(main): settings
  kubernetes/main/apps/storage/minio/app/helmrelease.yaml
  kubernetes/main/flux/vars/cluster-settings.yaml
Labels: area/kubernetes, cluster/main

fix: kustomization
  kubernetes/main/apps/cert-manager/cert-manager/ks.yaml
  kubernetes/main/apps/cert-manager/certificates/ks.yaml
  kubernetes/main/apps/external-secrets/external-secrets-sdk/ks.yaml
  kubernetes/main/apps/external-secrets/external-secrets/ks.yaml
  kubernetes/main/apps/flux-system/weave-gitops/ks.yaml
  kubernetes/main/apps/kube-system/cilium/ks.yaml
  kubernetes/main/apps/kube-system/coredns/ks.yaml
  kubernetes/main/apps/kube-system/kubelet-csr-approver/ks.yaml
  kubernetes/main/apps/kube-system/metrics-server/ks.yaml
  kubernetes/main/apps/kube-tools/node-feature-discovery/ks.yaml
  kubernetes/main/apps/kube-tools/reloader/ks.yaml
  kubernetes/main/apps/kube-tools/system-upgrade-controller/ks.yaml
  kubernetes/main/apps/media/komga/ks.yaml
  kubernetes/main/apps/network/cloudflared/ks.yaml
  kubernetes/main/apps/network/echo-server/ks.yaml
  kubernetes/main/apps/network/external-dns/ks.yaml
  kubernetes/main/apps/network/k8s-gateway/ks.yaml
  kubernetes/main/apps/network/nginx/ks.yaml
  kubernetes/main/apps/observability/prometheus-operator-crds/ks.yaml
  kubernetes/main/apps/storage/longhorn/ks.yaml
  kubernetes/main/apps/storage/minio/ks.yaml
  kubernetes/main/apps/storage/snapshot-controller/ks.yaml
  kubernetes/main/apps/storage/volsync/ks.yaml
  kubernetes/main/flux/apps.yaml
  kubernetes/main/flux/config/cluster.yaml
Labels: area/kubernetes, cluster/main

fix: typo
  kubernetes/main/apps/network/echo-server/ks.yaml
Labels: area/kubernetes, cluster/main

fix(minio): update nfs path
  kubernetes/main/apps/storage/minio/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

Revert "fix(minio): update nfs path"
  kubernetes/main/apps/storage/minio/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix(minio): missing name in secret bruh
  kubernetes/main/templates/volsync/minio.yaml
Labels: area/kubernetes, cluster/main

fix(minio): wrong secret name again
  kubernetes/main/templates/volsync/minio.yaml
Labels: area/kubernetes, cluster/main

test: add server url
  kubernetes/main/apps/storage/minio/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

test: rm server url
  kubernetes/main/apps/storage/minio/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

feat: add back plex
  kubernetes/dev/templates/volsync/minio.yaml
  kubernetes/main/apps/media/plex/ani-sync/config/custom_mappings.yaml
  kubernetes/main/apps/media/plex/ani-sync/helmrelease.yaml
  kubernetes/main/apps/media/plex/ani-sync/kustomization.yaml
  kubernetes/main/apps/media/plex/app/externalsecret.yaml
  kubernetes/main/apps/media/plex/app/helmrelease.yaml
  kubernetes/main/apps/media/plex/app/kustomization.yaml
  kubernetes/main/apps/media/plex/app/pvc.yaml
  kubernetes/main/apps/media/plex/ks.yaml
  kubernetes/main/apps/media/plex/plex-auto-languages/helmrelease.yaml
  kubernetes/main/apps/media/plex/plex-auto-languages/kustomization.yaml
  kubernetes/main/apps/media/plex/trakt-sync/config/config.yml
  kubernetes/main/apps/media/plex/trakt-sync/helmrelease.yaml
  kubernetes/main/apps/media/plex/trakt-sync/kustomization.yaml
  kubernetes/main/apps/media/plex/trakt-sync/pvc.yaml
  kubernetes/main/flux/vars/cluster-secrets.sops.yaml
  kubernetes/main/templates/volsync/minio.yaml
Labels: area/kubernetes, cluster/main, cluster/dev

fix: add plex to kusto
  kubernetes/main/apps/media/kustomization.yaml
Labels: area/kubernetes, cluster/main

fix(plex): fluxto
  kubernetes/main/apps/media/plex/ks.yaml
Labels: area/kubernetes, cluster/main

fix(plex): remove gatus
  kubernetes/main/apps/media/plex/app/kustomization.yaml
Labels: area/kubernetes, cluster/main

fix(plex-any-sync): remove service and ingress
  kubernetes/main/apps/media/plex/ani-sync/helmrelease.yaml
Labels: area/kubernetes, cluster/main

feat: add volsync taskfiles
  .taskfiles/VolSync/Taskfile.yaml
  .taskfiles/VolSync/scripts/controller.sh
  .taskfiles/VolSync/scripts/wait.sh
  .taskfiles/VolSync/templates/list.tmpl.yaml
  .taskfiles/VolSync/templates/replicationdestination.tmpl.yaml
  .taskfiles/VolSync/templates/unlock.tmpl.yaml
  .taskfiles/VolSync/templates/wipe.tmpl.yaml
  Taskfile.yml
Labels: area/taskfile

fix(ns): change name and volsync privileged-movers
  kubernetes/main/apps/media/namespace.yaml
Labels: area/kubernetes, cluster/main

fix: rename ns
  kubernetes/dev/apps/kube-tools/namespace.yaml
  kubernetes/dev/apps/media/namespace.yaml
  kubernetes/main/apps/kube-tools/namespace.yaml
Labels: area/kubernetes, cluster/main, cluster/dev

test(plex): persistence path
  kubernetes/main/apps/media/plex/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix(plex-trakt-sync): claim name
  kubernetes/main/apps/media/plex/trakt-sync/helmrelease.yaml
  kubernetes/main/apps/media/plex/trakt-sync/pvc.yaml
Labels: area/kubernetes, cluster/main

chore(taskfiles): update kubernetes
  .taskfiles/Kubernetes/Taskfile.yaml
Labels: area/taskfile

tmp: disable trakt sync
  kubernetes/main/apps/media/plex/ks.yaml
Labels: area/kubernetes, cluster/main

feat: add flaresolverr
  kubernetes/main/apps/downloads/flaresolverr/app/helmrelease.yaml
  kubernetes/main/apps/downloads/flaresolverr/app/kustomization.yaml
  kubernetes/main/apps/downloads/flaresolverr/ks.yaml
  kubernetes/main/apps/downloads/kustomization.yaml
  kubernetes/main/apps/downloads/namespace.yaml
Labels: area/kubernetes, cluster/main

fix: kusto
  kubernetes/main/apps/downloads/kustomization.yaml
Labels: area/kubernetes, cluster/main

feat: add bazarr
  kubernetes/main/apps/downloads/bazarr/app/externalsecret.yaml
  kubernetes/main/apps/downloads/bazarr/app/helmrelease.yaml
  kubernetes/main/apps/downloads/bazarr/app/kustomization.yaml
  kubernetes/main/apps/downloads/bazarr/app/resources/subcleaner.sh
  kubernetes/main/apps/downloads/bazarr/ks.yaml
  kubernetes/main/apps/downloads/kustomization.yaml
Labels: area/kubernetes, cluster/main

fix(bazarr): secret
  kubernetes/main/apps/downloads/bazarr/app/externalsecret.yaml
Labels: area/kubernetes, cluster/main
