Repository h-wb/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/docs, area/github, area/kubernetes, area/taskfile, cluster/main, cluster/dev

.github/labeler.yaml:

---
# Area
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"
# Cluster
cluster/main:
  - changed-files:
      - any-glob-to-any-file: kubernetes/main/**/*
cluster/dev:
  - changed-files:
      - any-glob-to-any-file: kubernetes/dev/**/*

test(minio): i
  kubernetes/main/apps/storage/minio/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

test(minio): ip
  kubernetes/main/apps/database/crunchy-postgres/cluster/cluster-vector.yaml
  kubernetes/main/apps/storage/minio/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

test(cpgo): storage port
  kubernetes/main/apps/database/crunchy-postgres/cluster/cluster-vector.yaml
Labels: area/kubernetes, cluster/main

tmp
  kubernetes/main/apps/downloads/kustomization.yaml
  kubernetes/main/apps/network/k8s-gateway/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

tmp: disable volsync
  .mise.toml
  kubernetes/main/apps/storage/kustomization.yaml
  kubernetes/main/bootstrap/talos/talconfig.yaml
Labels: area/kubernetes, cluster/main

feat: move longhorn to its own namespace
  kubernetes/main/apps/default/homepage/app/configmap.yaml
  kubernetes/main/apps/default/paperless/app/helmrelease.yaml
  kubernetes/main/apps/downloads/bazarr/app/helmrelease.yaml
  kubernetes/main/apps/downloads/qbittorrent-vpn/app/helmrelease.yaml
  kubernetes/main/apps/downloads/qbittorrent/app/helmrelease.yaml
  kubernetes/main/apps/downloads/radarr-uhd/app/helmrelease.yaml
  kubernetes/main/apps/downloads/radarr/app/helmrelease.yaml
  kubernetes/main/apps/downloads/sonarr-anm/app/helmrelease.yaml
  kubernetes/main/apps/downloads/sonarr-tv/app/helmrelease.yaml
  kubernetes/main/apps/longhorn-system/kustomization.yaml
  kubernetes/main/apps/longhorn-system/longhorn/app/helmrelease.yaml
  kubernetes/main/apps/longhorn-system/longhorn/app/kustomization.yaml
  kubernetes/main/apps/longhorn-system/longhorn/ks.yaml
  kubernetes/main/apps/longhorn-system/longhorn/storageclass/snapshot.yaml
  kubernetes/main/apps/longhorn-system/namespace.yaml
  kubernetes/main/apps/media/calibre-web/app/helmrelease.yaml
  kubernetes/main/apps/media/komga/app/helmrelease.yaml
  kubernetes/main/apps/media/plex/app/helmrelease.yaml
  kubernetes/main/apps/media/romm/app/helmrelease.yaml
  kubernetes/main/apps/media/suwayomi/app/helmrelease.yaml
  kubernetes/main/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

feat: add volsync back
  .taskfiles/VolSync/templates/replicationdestination.tmpl.yaml
  kubernetes/main/apps/storage/kustomization.yaml
Labels: area/kubernetes, area/taskfile, cluster/main

feat: remove jitstreamer
  kubernetes/main/apps/default/jitstreamer/app/helmrelease.yaml
  kubernetes/main/apps/default/jitstreamer/app/kustomization.yaml
  kubernetes/main/apps/default/jitstreamer/app/pvc.yaml
  kubernetes/main/apps/default/jitstreamer/ks.yaml
  kubernetes/main/apps/default/kustomization.yaml
Labels: area/kubernetes, cluster/main

tmp: remove app to force volsync restore
  kubernetes/main/apps/default/kustomization.yaml
  kubernetes/main/apps/downloads/kustomization.yaml
  kubernetes/main/apps/media/kustomization.yaml
Labels: area/kubernetes, cluster/main

Revert "tmp: remove app to force volsync restore"
  kubernetes/main/apps/default/kustomization.yaml
  kubernetes/main/apps/downloads/kustomization.yaml
  kubernetes/main/apps/media/kustomization.yaml
Labels: area/kubernetes, cluster/main

fix(vuetorrent): dependsOn
  kubernetes/main/apps/downloads/qbittorrent-vpn/ks.yaml
Labels: area/kubernetes, cluster/main

feat: add qbittorent back
  kubernetes/main/apps/downloads/kustomization.yaml
Labels: area/kubernetes, cluster/main

feat(prom): 1 replica
  kubernetes/main/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

tmp: disable prom
  kubernetes/main/apps/observability/kustomization.yaml
Labels: area/kubernetes, cluster/main

tmp: enable back prom
  kubernetes/main/apps/observability/kustomization.yaml
Labels: area/kubernetes, cluster/main

feat: update upgrade controller
  kubernetes/main/apps/kube-tools/system-upgrade-controller/app/helmrelease.yaml
  kubernetes/main/apps/kube-tools/system-upgrade-controller/plans/kubernetes.yaml
  kubernetes/main/apps/kube-tools/system-upgrade-controller/plans/talos.yaml
Labels: area/kubernetes, cluster/main

feat: update upgrade controller
  kubernetes/main/apps/kube-tools/system-upgrade-controller/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

tmp: disable upgrade
  kubernetes/main/apps/kube-tools/kustomization.yaml
Labels: area/kubernetes, cluster/main

tmp: enable back upgrade
  kubernetes/main/apps/kube-tools/kustomization.yaml
Labels: area/kubernetes, cluster/main

fix: helmchart
  kubernetes/main/flux/repositories/helm/bjw-s.yaml
Labels: area/kubernetes, cluster/main

tmp: disable upgrade
  kubernetes/main/apps/kube-tools/kustomization.yaml
Labels: area/kubernetes, cluster/main

tmp: enable back upgrade
  kubernetes/main/apps/kube-tools/kustomization.yaml
Labels: area/kubernetes, cluster/main

tmp: disable upgrade
  kubernetes/main/apps/kube-tools/kustomization.yaml
Labels: area/kubernetes, cluster/main

tmp: enable back upgrade
  kubernetes/main/apps/kube-tools/kustomization.yaml
Labels: area/kubernetes, cluster/main

fix: helmchart
  kubernetes/main/flux/repositories/helm/bjw-s.yaml
Labels: area/kubernetes, cluster/main

test: upgrade controller versions
  kubernetes/main/apps/kube-tools/kustomization.yaml
  kubernetes/main/apps/kube-tools/kustomizeconfig.yaml
  kubernetes/main/apps/kube-tools/system-upgrade-controller/ks.yaml
  kubernetes/main/apps/kube-tools/versions.env
Labels: area/kubernetes, cluster/main

test: disable upgrade
  kubernetes/main/apps/kube-tools/kustomization.yaml
Labels: area/kubernetes, cluster/main

test: s3 db backup
  kubernetes/main/apps/database/crunchy-postgres/cluster/cluster.yaml
  kubernetes/main/apps/database/crunchy-postgres/cluster/kustomization.yaml
  kubernetes/main/apps/storage/minio/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

test: s3 db backup
  kubernetes/main/apps/database/crunchy-postgres/cluster/cluster.yaml
Labels: area/kubernetes, cluster/main

fix: anchor
  kubernetes/apps/main/database/crunchy-postgres/ks.yaml
  kubernetes/clusters/main/apps.yaml
Labels: area/kubernetes

fix: anchor
  kubernetes/apps/main/database/dragonfly/ks.yaml
Labels: area/kubernetes

fix: anchor
  kubernetes/apps/main/downloads/qbittorrent-vpn/ks.yaml
  kubernetes/apps/main/downloads/qbittorrent/ks.yaml
  kubernetes/apps/main/kube-system/intel-device-plugin-operator/ks.yaml
  kubernetes/apps/main/kube-system/metrics-server/ks.yaml
  kubernetes/apps/main/kube-tools/system-upgrade-controller/ks.yaml
  kubernetes/apps/main/longhorn-system/longhorn/ks.yaml
  kubernetes/apps/main/media/plex/ks.yaml
  kubernetes/apps/main/observability/exporters/nut-exporter/ks.yaml
Labels: area/kubernetes

feat: move sops
  bootstrap/helmfile.yaml
  kubernetes/components/common/sops/kustomization.yaml
  kubernetes/components/common/sops/secret.sops.yaml
Labels: area/kubernetes

feat: remove sops from ks
  bootstrap/resources.yaml.j2
  kubernetes/apps/main/cert-manager/cert-manager/ks.yaml
  kubernetes/components/common/sops/secret.sops.yaml
  scripts/bootstrap-apps.sh
Labels: area/kubernetes

feat: remove cluster-secrets substitution from cluster-apps
  kubernetes/clusters/main/apps.yaml
Labels: area/kubernetes

fix: add sops to kusto
  kubernetes/components/common/kustomization.yaml
Labels: area/kubernetes

fix: secret store ref cluster secrets
  kubernetes/components/common/externalsecret.yaml
Labels: area/kubernetes

fix: sops substitution
  kubernetes/clusters/main/apps.yaml
  scripts/bootstrap-apps.sh
Labels: area/kubernetes

fix: sops
  kubernetes/components/common/sops/secret.sops.yaml
Labels: area/kubernetes

fix: sops
  kubernetes/clusters/main/ks.yaml
Labels: area/kubernetes
